# Server Configuration
PORT=5000
NODE_ENV=development

# Company Information
COMPANY_NAME="Naipal-Singh-Saini-Company"
COMPANY_EMAIL="naipal.saini@outlook.com"
COMPANY_PHONE="+91 9540580346"

# Notification / Webhook (Optional)
SLACK_WEBHOOK_URL=
ADMIN_NOTIFICATION_EMAIL=
